<div class="container">
    <div class="jumbtron">
        <h1>Ocean Air Rentals</h1>
        <h2>Manager Portal</h2>
    </div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Current OAR Reservations</h3>
        </div>
        <!-- New reservations - table data below. -->
        <div class="panel-body">
            <table class="table table-hover" id='reservation-table'>
                <thead>
                    <tr>
                        <th>Reservation ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                        <th>Beach</th>
                        <th></th>
                        <th>Rental Item</th>
                        <th></th>
                        <th>Rental Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- appended data displays here. -->
                    {{#each reservation}} {{> tables/reservation-block}} {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <!-- Display added inventory items. -->
    <div id="inventory">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Current OAR Inventory</h3>
            </div>
            <!-- Added inventory items - table data below. -->
            <div class="panel-body">
                <table class="table table-hover" id='reservation-table'>
                    <thead>
                        <tr>
                            <th>Inventory ID</th>
                            <th>Beach Location</th>
                            <th>Rental Item</th>
                            <th>Price</th>
                            <th>Rentable</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{#each inventory}} {{> tables/inventory-block}} {{/each}}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- form to add inventory items. -->
    <form>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add Inventory</h3>
            </div>
            <div class="form-group">
                <label for="beachName">Beach Name</label>
                <select class="form-control" id="beachName">
                    <option>Select from below</option>
                    <option>Cocoa Beach</option>
                    <option>Daytona Beach</option>
                    <option>Destin</option>
                    <option>Key West</option>
                    <option>Miami Beach</option>
                    <option>New Smyrna Beach</option>
                    <option>Panama City Beach</option>
                    <option>Pensacola Beach</option>
                    <option>Sanibel Island</option>
                    <option>Siesta Key</option>
                    <option>St. Augustine</option>
                    <option>St. George Island</option>
                    <option>St. Pete</option>
                    <option>Vero Beach</option>
                </select>
            </div>

            <div class="form-group">
                <label for="rentalItem">Rental Item</label>
                <select class="form-control" id="rentalItem">
                    <option>Select from below:</option>
                    <option>Rental Item</option>
                    <option>Chairs &amp; Umbrella</option>
                    <option>Paddle Board</option>
                    <option>Body Board</option>
                    <option>Snorkel Set</option>
                    <option>Private Cabana</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price $</label>
                <input type="text" class="form-control" placeholder="$" id="price">
            </div>

            <div class="form-group">
                <label for="rentable">Rentable</label>
                <select class="form-control" id="rentable">
                    <option>Select from below:</option>
                    <option>true</option>
                    <option>false</option>
                </select>
            </div>
            <button class="btn btn-default" id="postInventory">Add Inventory</button>
        </div>
    </form>

</div>