body,
h1,
h2,
h3,
p {
    font-family: 'Lato', sans-serif;
}

.table {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#title {
    color: rgb(163, 20, 20);
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.jumbotron {
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 8px;
    margin: 20px 20px 20px 20px;
    height: 250px;
}

.panel-heading {
    border-color: rgb(75, 168, 240);
    border-width: 2px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(75, 168, 240);
}

.input-group {
    margin: 15px;
}

.btn.btn-default {
    font-family: 'Lato', sans-serif;
    color: white;
    background: rgb(75, 168, 240);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
